# Clave secreta de Django (cámbiala en producción)
SECRET_KEY=cambia-esto-en-produccion

# Modo debug (False en producción)
DEBUG=False

# Hosts permitidos (separados por coma)
ALLOWED_HOSTS=*.onrender.com,localhost,127.0.0.1
